@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1b2838;
  --backgroundMid: #2a475e;
  --backgroundDark: #171a21;
  --backgroundLight: #66c0f4;
  --foreground: #c7d5e0;
  --foregroundLight: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
